
<p-toast position="bottom-right" [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'" [hideTransitionOptions]="'1000ms'" [showTransformOptions]="'translateX(100%)'"></p-toast>

<p-confirmDialog></p-confirmDialog>
<div class="content-body">
  <div class="container-fluid">
<section class="page-content course-sec">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="widget-setcount">
              <p-toolbar>
                <div class="p-toolbar-group-left">
                  <h5>Add New Course</h5>
                </div>
              </p-toolbar>
            </div>
  
            <p-steps [model]="items" [(activeIndex)]="currentStep"></p-steps>
  
            <div *ngIf="currentStep === 0">
              <!-- Content for Step 1: Basic Information -->
              <div class="widget-set">
  
                <div class="widget-content multistep-form">
                  <div class="add-course-info">
                    <div class="add-course-inner-header">
                    </div>
                    <div class="add-course-form">
                      <form [formGroup]="courseForm" (ngSubmit)="onUpdateCourse()">
                        <div class="form-group">
                          <label class="add-course-label">Course Title</label>
                          <input type="text" class="form-control" placeholder="Course Title" formControlName="title">
                          <div *ngIf="courseForm.get('title')?.invalid && courseForm.get('title')?.touched"
                            class="text-danger">
                            Course Title is required.
                          </div>
                        </div>
                        <div class="p-fluid p-formgrid p-grid">
                          <div class="p-field p-col">
                            <div class="form-group">
                              <label class="add-course-label">Courses Category</label>
                              <p-dropdown [options]="getCategoryList" optionLabel="name" optionValue="_id"
                                (onChange)="onCategoryChange($event)" placeholder="Select a category" formControlName="category"></p-dropdown>
                              <div *ngIf="courseForm.get('category')?.invalid && courseForm.get('category')?.touched" class="text-danger">
                                Category is required.
                              </div>
                            </div>
                          </div>
                          <div class="p-field p-col">
                            <div class="form-group">
                              <label class="add-course-label">Courses Sub Category</label>
                              <p-dropdown [options]="getSubCategoryList" optionLabel="name" optionValue="_id"
                                [disabled]="!selectedCategory" placeholder="Select a subcategory" formControlName="subCategory"></p-dropdown>
                              <div
                                *ngIf="courseForm.get('subCategory')?.invalid && courseForm.get('subCategory')?.touched"
                                class="text-danger">
                                Subcategory is required.
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="p-fluid p-formgrid p-grid">
                          <div class="p-field p-col">
                            <div class="form-group">
                              <label class="add-course-label">Courses Level</label>
                              <p-dropdown [options]="courseLevel" optionLabel="name" optionValue="_id"
                                placeholder="Select a course Level" formControlName="level"></p-dropdown>
                              <div *ngIf="courseForm.get('level')?.invalid && courseForm.get('level')?.touched"
                                class="text-danger">
                                Level is required.
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="p-fluid p-formgrid p-grid">
                          <div class="p-field p-col">
                              <div class="form-group">
                                  <label class="add-course-label">Courses Duration</label>
                                  <p-dropdown [options]="courseDuration" optionLabel="durationInMonths" optionValue="_id"
                                      placeholder="Select a course duration" formControlName="courseDuration"></p-dropdown>
                                  <div *ngIf="courseForm.get('courseDuration')?.invalid && courseForm.get('courseDuration')?.touched"
                                      class="text-danger">
                                      courseDuration is required.
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="form-group">
                        <label class="add-course-label">Course cover image</label>
                        <div class="relative-form">
                          <span *ngIf="courseForm.get('coverImage')?.value">{{ courseForm.get('coverImage')?.value.name }}</span>
                          <label class="relative-file-upload">
                            Upload File
                            <input type="file" id="coverImage" (change)="onFileSelected($event)" accept="image/*">
                          </label>
                        </div>
                      </div>
                      
                      <!-- Add an image preview element -->
                      <div class="image-preview" *ngIf="selectedImage">
                        <img [src]="selectedImage" alt="Preview" height="200px" width="200px">
                      </div>
                      
                      
                          
  
                        <!-- <div class="form-group">
                          <div class="add-image-box">
                            <a href="javascript:void(0);">
                              <i class="far fa-image"></i>
                            </a>
                          </div>
                        </div> -->
                        <div class="form-group">
                          <label class="add-course-label">Subtitle</label>
                          <textarea name="" id="" cols="88" rows="5"class="form-control"formControlName="subtitle"placeholder="Enter Your Subtitle"></textarea>
                          <!-- <input type="text" class="form-control" placeholder="Subtitle" formControlName="subtitle"> -->
                          <div *ngIf="courseForm.get('subtitle')?.invalid && courseForm.get('subtitle')?.touched"
                            class="text-danger">
                            Subtitle is required.
                          </div>
                        </div>
                        <div class="p-fluid p-formgrid p-grid">
                          <div class="p-field p-col">
                            <div class="form-group ">
                              <label class="add-course-label">tags</label>
                              <p-chips formControlName="tags" placeholder="tags"></p-chips>
                            </div>
                          </div>
                        </div>
                        <div class="form-group mb-0">
                          <label class="add-course-label">Price</label>
                          <input type="number" class="form-control" formControlName="price" placeholder="10.00">
                        </div>
  
                        <div class="form-group mb-0">
                          <label class="add-course-label">Course Description</label>
                          <ckeditor [editor]="Editor" formControlName="description"></ckeditor>
                          <div *ngIf="courseForm.get('description')?.invalid && courseForm.get('description')?.touched"
                            class="text-danger">
                            Description is required.
                          </div>
                        </div>
  
                        <!-- Display an auto-save message -->
                        <div *ngIf="isAutoSaving" class="text-success">
                          Draft saved automatically.
                        </div>
  
                      </form>
                    </div>
  
                  </div>
  
                </div>
              </div>
              <!-- ... Your existing form elements for Basic Information ... -->
              <div class="widget-btn">
                <!-- Next Button to move to the next step -->
                <p-button label="Save Draft" icon="pi pi-angle-double-right"(click)="saveDraft()"
                styleClass="p-button-sm"></p-button>
                <p-button label="Next" icon="pi pi-angle-double-right" (click)="nextStep()"
                  styleClass="p-button-sm"></p-button>
  
              </div>
            </div>
  
            <div *ngIf="currentStep === 1">
              <!-- Content for Step 2: Curriculum -->
              <form [formGroup]="curriculumForm" class="curriculum-form" (ngSubmit)="onUpdateCourse()">
                <div class="add-course-info">
                  <!-- <p-toolbar>
                    <div class="p-toolbar-group-left">
                      <p-button label="Add Section" icon="pi pi-plus" (click)="addSection()"
                        styleClass="p-button-secondary p-button-sm" class="mr-2"></p-button>
                    </div>
                  </p-toolbar> -->
  
                  <p-card>
                    <p-accordion>
                    <div class="curriculum-grid" formArrayName="sections">
                      <div *ngFor="let section of sections.controls; let i = index" [formGroupName]="i"
                        class="curriculum-section">
                        <p-accordionTab header="Session {{ i + 1 }} ({{ getSectionTitle(section) }}) ">
                        <div class="curriculum-head">
                          <p>New Section: {{ i + 1 }}: {{ getSectionTitle(section) }}</p>
                          <div class="form-group">
                            <input type="text" pInputText formControlName="title" placeholder="Title"style="height: 33px; border: 1px solid; border-radius: 0px;">
                          </div>                      
                        </div>
  
                        <div class="curriculum-info">
                          <p-accordion>
                          <div formArrayName="lessons">
                            <div class="lecture" *ngFor="let lecture of getLectures(section).controls; let j = index"
                              [formGroupName]="j" class="curriculum-lecture">
                              <p-accordionTab header="Lession  {{ j + 1 }}">
                              <div class="lecture-item clearfix">
                                <div class="form-group">
                                  <input type="text" pInputText formControlName="lectureTitle"
                                    placeholder="Lecture Title" style="height: 33px; border: 1px solid; border-radius: 0px;">
                                </div>
                                <div class="content-type-selection">
                                  <label>Select Content Type:</label>
                                  <select formControlName="contentType" class="form-group">
                                    <option value="video">Video</option>
                                    <option value="pdf">PDF</option>
                                    <option value="mcq">MCQ</option>
                                  </select>
                                </div>
  
                                <!-- Add Video Input -->
                                <div *ngIf="lecture.get('contentType')?.value === 'video'">
                                  <table class="table table-bordered">
                                    <tr>
                                      <td>
                                        <div class="file-upload upload_btn">
                                          <button
                                          type="button"
                                          class="btn btn-primary"
                                          data-bs-toggle="modal"
                                          data-bs-target="#exampleModal"
                                          [ngStyle]="{'background-color': lecture.get('videoUrl') ? 'green' : 'red'}"
                                          (click)="playVideo(lecture.get('videoUrl')?.value)"
                                        >
                                          <i class="pi pi-video" style=""></i>
                                        </button>
                                       
                                        
                                          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                              <div class="modal-content">
                                                <div class="modal-header"></div>
                                                <div class="modal-body">
                                                  <video *ngIf="isVideoPlaying" [src]="videoSource" controls style="width: 470px; height: 250px;"></video>
                                                </div>
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="stopVideo()">Close</button>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                
                                          &nbsp; &nbsp;
                                          <input
                                            type="file"
                                            id="videoFile{{ i }}-{{ j }}"
                                            (change)="onVideoChange($event, lecture.get('videoUrl'), section, j)"
                                          >
                                        </div>
                                      </td>
                                      <td>
                                        <p-progressBar [value]="getVideoUploadPercentages(section, j)" mode="determinate" [style]="{ height: '20px' ,width: '50px'}"></p-progressBar>
                                      </td>
                                      <td>
                                        <p-button icon="pi pi-trash" (click)="deleteVideo(lecture.get('videoUrl')?.value)"></p-button>
                                      </td>
                                    </tr>
                                  </table>
                                </div>
                                
                              <div *ngIf="getVideoUploadPercentages(section, j) === 100" class="upload-success-message">
                                <!-- <p-messages [(value)]="successVideoMessages" [closable]="true"></p-messages> -->
                              </div>
                            
                                <!-- Add PDF Input -->
                                <div *ngIf="lecture.get('contentType')?.value === 'pdf'">
                                  <table class="table table-bordered">
                                    <tr>
                                      <td>
                                        <div class="file-upload upload_btn">
                                          <button type="button" class="btn btn-primary">
                                            <i class="pi pi-file" style=""></i>
                                           </button> 
                                          
                                           &nbsp; &nbsp;
                                          <input type="file" id="pdfFile{{ i }}-{{ j }}" name="pdf"
                                          (change)="onPdfChange($event, lecture.get('pdfUrl'), section, j)">
                                        
                                        </div>
                                      </td>
                                      <td>
                                        <p-progressBar [value]="getpdfUploadPercentages(section, j)" mode="determinate" [style]="{ height: '20px' ,width: '50px'}"></p-progressBar>
                                      
                                      </td>
                                      <td>
                                        <p-button icon="pi pi-trash" (click)="deletePdf(lecture.get('pdfUrl')?.value)"></p-button>
                                      </td>
                                    </tr>
                                  </table>                           
                                </div>
                                <div *ngIf="getpdfUploadPercentages(section, j) === 100" class="upload-success-message">
                                </div>
                                <!-- Add MCQ Section ! -->
                                <div *ngIf="lecture.get('contentType')?.value === 'mcq'">
                                  <p-accordion>
                                <div formArrayName="mcqs">
                                  <div *ngFor="let mcqQuestion of getMCQQuestions(i, j).controls; let k = index"
                                    [formGroupName]="k" class="mcq-question">
                                    <p-accordionTab header="MCQ Question {{ k + 1 }}">
                                    <br clear="all">
                                    <div class="form-group mt-3">
                                      <!-- <label>MCQ Question:</label> -->
                                      <!-- <input type="text" class="mt-2" pInputText formControlName="question"
                                        placeholder="MCQ Question"> -->
                                        <ckeditor [editor]="Editor" formControlName="question" style=":host ::ng-deep .ck-editor__editable_inline {
                                          min-height: 150px !important;
                                        }"></ckeditor>
                                    </div>
  
                                    <!-- MCQ Options -->
                                    <div formArrayName="options">
                                      <div *ngFor="let option of getMCQOptions(i, j, k).controls; let m = index"
                                        [formGroupName]="m" class="mcq-option">
                                      
                                        <div class="form-group">
                                          <label>Option {{ m + 1 }}:</label>
                                          <input type="text" pInputText formControlName="optionText" placeholder="Option">
                                        </div>
                                       
                                        <!-- Remove MCQ Option button -->
                                        <div class="removebtn">
                                        <p-button icon="pi pi-minus"
                                          (click)="removeMCQOption(i, j, k, m)"
                                          styleClass="p-button-sm p-button-danger"></p-button></div>
                                      </div>
                                    </div>
  
                                    <!-- Add MCQ Option button -->
                                    <div class="addbtn-removebtn">
                                    <p-button icon="pi pi-plus" (click)="addMCQOption(i, j, k)"
                                      styleClass="p-button-sm"pTooltip="Add MCQ Option"tooltipPosition="bottom"></p-button></div>
  
                                    <div class="form-group">
                                      <label class="mt-2">Correct Answer:</label>
                                      <input type="number" pInputText formControlName="correctAnswer"
                                        placeholder="Correct Answer">
                                    </div>
  
                                    <!-- Remove MCQ Question button -->
                                    <div class="removebtn">
                                    <p-button label="Remove MCQ Question" icon="pi pi-minus"
                                      (click)="removeMCQQuestion(i, j, k)"
                                      styleClass="p-button-sm p-button-danger"pTooltip="Remove MCQ Question"tooltipPosition="bottom"></p-button></div>
                                  </p-accordionTab>
                                </div>
                                </div>
                              
                                <!-- Add MCQ Question button -->
                                <div class="file-upload upload_btn">
                                <p-button label="Add MCQ" icon="pi pi-plus" (click)="addMCQQuestion(i, j)"
                                  styleClass="p-button-sm"pTooltip="Add MCQ"tooltipPosition="bottom"></p-button></div>
                                <!-- <div class="file-upload upload_btn">
                                  <p-button label="Remove lession" icon="pi pi-trash" (click)="removeLecture(section, j)"
                                    styleClass="p-button-outlined p-button-info p-button-sm"pTooltip="Remove lession"tooltipPosition="bottom"></p-button>
  
                                </div> -->
                             </p-accordion>
                             </div>
                              </div>
                              <p-button label="Remove lession" icon="pi pi-trash" (click)="removeLecture(section, j)"
                              styleClass="p-button-outlined p-button-info p-button-sm"pTooltip="Remove lession"tooltipPosition="bottom"></p-button>
                           </p-accordionTab>
                           </div>
                          </div>
                           <p-button label="Add Lession" icon="pi pi-plus" (click)="addLecture(section)"
                            styleClass="p-button-sm"pTooltip="Add Lession"tooltipPosition="bottom"></p-button>
                            
                          <p-button icon="pi pi-trash" (click)="removeSection(i)"
                            styleClass="p-button-sm p-button-danger"pTooltip="Remove Section"tooltipPosition="bottom"></p-button>
                        </p-accordion>
                      </div>
                        
                     </p-accordionTab> 
                    </div>
                      <div class="p-toolbar-group-left">
                        <p-button label="Add Section" icon="pi pi-plus" (click)="addSection()"
                          styleClass="p-button-secondary p-button-sm" class="mr-2"></p-button>
                      </div>
                    </div>
                    </p-accordion>
                  </p-card>
  
  
                </div>
              </form>
              <!-- ... Your curriculum form elements ... -->
              <div class="widget-btn">
                
                <!-- Previous Button to go back to the previous step -->
                <p-button label="Previous" icon="pi pi-angle-double-left" (click)="previousStep()"
                  styleClass="p-button-sm"></p-button>
                  <p-button label="Save Draft" icon="pi pi-angle-double-right"(click)="saveDraft()"
                  styleClass="p-button-sm"></p-button>
                <!-- <button class="btn btn-info-light" (click)="previousStep()">Previous</button> -->
                <!-- Next Button to move to the next step -->
                <p-button label="Update Course" type="submit" icon="pi pi-check" (click)="onUpdateCourse()"
                  styleClass="p-button-sm"></p-button>
  
                <!-- <button class="btn btn-info-light" type="submit" (click)="onSubmit()">Save Course</button> -->
              </div>
            </div>
  
  
          </div>
        </div>
      </div>
    </div>
  </section>
  </div>
  </div>